/*************************** ALL **************************/

:root {

    --height-container-1: 5vh;

    --height-container-2: calc(100vh - (var(--height-container-1) + var(--height-add-tasks)));
    --width-x-axis: 5vh;
    --width-matrix: calc(100% - var(--width-x-axis));

    --height-add-tasks: 5vh;

    --color-dark: hsl(0, 0%, 0%);
    --color-light: hsl(0, 0%, 100%);

}

body {
    margin: 0;
    font-size: 16px;
}

/*********************** CONTAINER-1 **********************/

#container-1 {
    display: flex;
    flex-flow: row wrap;
    height: var(--height-container-1);
}

#nav-button {
    width: var(--width-x-axis);
}

#y-axis {
    display: flex;
    background-color: var(--color-dark);
    color: var(--color-light);
}

#y-axis > table {
    width: 50%;
}

/*********************** CONTAINER-2 **********************/

#container-2 {
    display: flex;
    height: var(--height-container-2);
}

#x-axis {
    width: var(--width-x-axis);
    background-color: var(--color-dark);
    color: var(--color-light);
}

#x-axis > div {
    height: 50%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    margin: auto;
}

#matrix {
    width: var(--width-matrix);
    display: flex;
    flex-flow: row wrap;
}

#matrix > div {
    width: calc(50% - 2px);
    border: 1px solid var(--color-dark);
    overflow: scroll;
}

.matrix > div > table {
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
}

/*************************** TD ***************************/

.number {
    width: 4em;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
}

.time {
    width: 7em;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
}

.task {
    border-style: solid ;
    border-width: 0px 0px 1px 0px;
    border-color: hsl(0, 0%, 80%);
    padding-left: 15px;
}

.update {
    width: 8em;
    text-align: right;
    border-style: solid ;
    border-width: 0px 0px 1px 0px;
    border-color: hsl(0, 0%, 80%);
}

/************************ ADD-TASKS ***********************/

#add-tasks {
    height: var(--height-add-tasks);
    background-color: var(--color-dark);
    color: var(--color-light);
}