/************************** BODY **************************/

body {
    margin: 0px;
    font-family: cursive;
    font-size: small;
}

/************************* HEADER *************************/

.header {
    display: flex;
    min-height: 5vh;
    max-height: 5vh;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.header > table {
    width: 50%;
    margin: 0px;
    flex-grow: 1;
    flex-shrink: 0;
}

/************************* MATRIX *************************/

.matrix {
    display: flex;
    flex-flow: row wrap;
}

.matrix > div {
    width: calc(50% - 2px);
    min-height: calc(45vh - 2px);
    max-height: calc(45vh - 2px);
    overflow: scroll;
    margin: 0px;
    border: 1px solid hsl(0, 0%, 0%);
}

.matrix > div > table {
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    z-index: 1;
}

/*************************** TD ***************************/

.number {
    width: 4em;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
}

.time {
    width: 7em;
    text-align: center;
    border: 1px solid hsl(0, 0%, 80%);
}

.task {
    border-style: solid ;
    border-width: 0px 0px 1px 0px;
    border-color: hsl(0, 0%, 80%);
    padding-left: 15px;
}

.update {
    width: 8em;
    text-align: right;
    border-style: solid ;
    border-width: 0px 0px 1px 0px;
    border-color: hsl(0, 0%, 80%);
}

.update > button {
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
}

.update:hover > button {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

/*********************** ADD-TASKS ************************/

.add-tasks {
    min-height: 5vh;
    max-height: 5vh;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}